.container(style="float:left;margin-top:10px;padding-left:50px" )
  .row
    %h1
      活动通
-if current_user
  %br
  .text-right(style="float:right;margin-top:10px;padding-right:30px" )
    你好,
    =current_user.name
    =link_to "退出",logout_path,method: "delete"
  .row(style="width:1320px" )
    .sign-up-box
      = form_for @user do |f|
        .input-group
          %span.input-group-addon(style="width:109px" )
            账号
          = f.text_field :name, :class=>'form-control',:style=>'width:379px'
        %br
        .input-group
          %span.input-group-addon(style="width:109px" )
            请设置密码
          = f.password_field :password, :class=>'form-control',:style=>'width:379px'
        %br
        .input-group
          %span.input-group-addon(style="width:109px" )
            请确认密码
          = f.password_field :password_confirmation, :class=>'form-control',:style=>'width:379px'
        %br
        .input-group
          %span.input-group-addon
            忘记密码问题
          = f.text_field :forget_password_question, :class=>'form-control'
        %br
        .input-group
          %span.input-group-addon
            忘记密码答案
          = f.text_field :question_answer, :class=>'form-control'
        %br
        - if @user.errors.any?
          .alert.alert-danger(class='text-center'style="float:center;padding-top:0px;padding-bottom:0px;padding-left:90px;padding-right:90px;margin-bottom:0px" )
            =@user.errors.full_messages.first
        %br
        =f.submit '确认添加',:class => ' btn-info',:style=>' width:116px;margin-left: 203px;margin-right: 203px;'
